SECRET_KEY=your-secret-key-here
DEBUG=True

DB_ENGINE=django.db.backends.postgresql
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_CACHE_DB=0
REDIS_BROKER_DB=1
REDIS_BEAT_DB=2

# Centrifugo
CENTRIFUGO_API_URL=http://localhost:8080/api
CENTRIFUGO_API_KEY=your-api-key
CENTRIFUGO_TOKEN_SECRET=your-token-secret
CENTRIFUGO_WS_URL=ws://localhost:8080/connection/websocket

# Email
EMAIL_HOST=localhost
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=noreply@askpupkin.com